body{
     
}


.restaurant{
     color:orange;
}
h1{
     
     font-family: 'Roboto', sans-serif;
}
.food_buttom{
     text-decoration:none;
     background-image: linear-gradient(orange, red);
     padding: 10px 20px;
     border-radius: 30px;
     font-weight: 100;
     color:white;
}
section{
     display: flex;
     font-size: 30px;
}
.home-page{
     width: 50%;
     padding:5%;
     text-align:left;
}
.home-page img{
     width:100%;
     padding-right: px;
}
.about-me{
     display: flex;
     background-image: url(images/shapes/Frame\ 59.jpg);
     background-size: auto;
     height:770px;
     width: 100%;
 
}
.about-page{
     width: 50%;
     padding:10%;
     text-align:left;
}
.about-page img{
     width:100%;
     padding-right:10 px;
     align:right;
}